@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --font-family: 'Lexend Deca', sans-serif;
  --primary-color: #694a7b;
  --primary-color-btn-hover: #4b2363;
  --form-border-color: #ddd;
  --focus-border-color: #694a7b;
  --background-color: #efefef;
  --switch-thumb-color: white;
  --text-color: #333;
  --select-hover: #b490cb;
}

*{
  font-family: var(--font-family);
}

/* Form */
form {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 24px;
  border: 2px solid var(--form-border-color);  
  border-radius: 8px;    
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
}

form > div {
  margin-bottom: 0px;
}

/* Labels */
label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: var(--text-color);
}

input, select, textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border: 2px solid var(--focus-border-color);
}

/* Submit Button */ 
button[type="submit"] {
margin-top: 10px;
background-color: var(--primary-color);
}

/* Submit button hover */
button[type="submit"]:hover {
  background-color: var(--primary-color-btn-hover);
  cursor: pointer;
}

/* Title */
h3 {
  margin-bottom: 0px; 
}

/* Divider */
hr {
  margin-top: 0;
  margin-bottom: 10px;
}

/* Notification*/
.mantine-Notification-root {
  max-width: 350px;
  padding: 5px ;
}

/* Inputs */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
select,
textarea {
  background-color: var(--background-color);
}

.mantine-Textarea-input {
  background-color: var(--background-color) !important;
}

.mantine-MultiSelect-input input:focus,
.mantine-MultiSelect-input:focus-within input {
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid var(--focus-border-color)!important;
}

.mantine-MultiSelect-input:focus-within,
.mantine-MultiSelect-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid var(--focus-border-color) !important;
}

.mantine-FileInput-input{
  background-color: var(--background-color) !important;
}

.mantine-DatePickerInput-input {
  background-color: var(--background-color) !important;
}

.mantine-Title-root{
  font-family: var(--font-family) !important;
}

.mantine-Select-input {
  font-family: var(--font-family) !important;
  background-color: var(--background-color) !important;
}

.mantine-Select-item {
  background-color: var(--background-color) !important;;
}

.mantine-Select-item:hover:not([data-selected="true"]),
[role="option"]:hover:not([aria-selected="true"]) {
  background-color: var(--select-hover)!important;
  color: #1a0f2e !important;
}


input::placeholder,
select::placeholder,
textarea::placeholder {
  font-family: var(--font-family) !important;
}

.mantine-Radio-bullet {
  border: 2px solid var(--primary-color) !important;
}

.mantine-Radio-wrapper {
  background-color: var(--primary-color) !important;
}

.mantine-Switch-input:checked + .mantine-Switch-track {
  background-color: var(--primary-color) !important;  
}

.mantine-Switch-thumb {
  background-color: var(--switch-thumb-color) !important;
}

.mantine-Switch-input:checked + .mantine-Switch-thumb {
  background-color: var(--switch-thumb-color) !important;
  border-color: var(--primary-color) !important;
}
