@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Lexend Deca', sans-serif;
}

/* Form */
form {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding: 24px;
  border: 2px solid #ddd;  
  border-radius: 8px;    
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow: hidden;
}

form > div {
  margin-bottom: 0px;
}

/* Labels */
label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
}

input, select, textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border: 2px solid #694a7b;
}

/* Submit Button */ 
button[type="submit"] {
margin-top: 10px;
background-color: #694a7b;
}

/* SUbmit button hover */
button[type="submit"]:hover {
  background-color: #4b2363;
  cursor: pointer;
}

/* Title */
h3 {
  margin-bottom: 0px; 
}

/* Divider */
hr {
  margin-top: 0;
  margin-bottom: 10px;
}

/* Notification*/
.mantine-Notification-root {
  max-width: 350px;
  padding: 5px ;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
select,
textarea {
  background-color: #efefef;
}

.mantine-Textarea-input {
  background-color: #efefef !important;
}

.mantine-MultiSelect-input input:focus,
.mantine-MultiSelect-input:focus-within input {
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid #694a7b !important;
}

.mantine-MultiSelect-input:focus-within,
.mantine-MultiSelect-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid #694a7b !important;
}

.mantine-FileInput-input{
  background-color: #efefef !important;
}

.mantine-DatePickerInput-input {
  background-color: #efefef !important;
}

.mantine-Title-root{
  font-family: 'Lexend Deca', sans-serif !important;
}

.mantine-Select-input {
  font-family: 'Lexend Deca', sans-serif !important;
  background-color: #efefef !important;
}

.mantine-Select-item {
  background-color: #efefef !important;;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  font-family: 'Lexend Deca', sans-serif !important;
}

.mantine-Radio-bullet {
  border: 2px solid #694a7b !important;
}

.mantine-Radio-wrapper {
  background-color: #694a7b !important;
}

.mantine-Switch-input:checked + .mantine-Switch-track {
  background-color: #694a7b !important;  
}

.mantine-Switch-thumb {
  background-color: white !important;
}

.mantine-Switch-input:checked + .mantine-Switch-thumb {
  background-color: white !important;
  border-color: #694a7b !important;
}
